.contact{
 display: flex;
 margin-bottom: 10px;
 margin-left: 20px;
 margin-top: 20px;
}
.links{
    margin-left: 200px;
}
.link-two{
    margin-top: 40px;
}
.link{
    text-transform: uppercase;
    padding: 20px;
    text-decoration: none;

}